* {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

body {
    background-image: url("./interactive-pricing-component-main/images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-position: top -100px left 0px;
    width: 100vw;
    background-size: 100% 400px;
    
}

.div-tittle {
    background-image: url("./interactive-pricing-component-main/images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: top 0px left 80px;
    margin: 57px auto 0px;
    width: 312px;
    height: 145px;
    padding-top: 32px;   
}


.h1-tittle {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #293356;
}

.p-tittle {
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #848EAD;
    margin-top: 8px;
}

.main-div {
    width: 327px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 34px 0px;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
}

.h1-100k {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #848EAD;
    letter-spacing: 1.71px;
}

.div-input{
    margin: auto;
    position: relative;
    width: 279px;
}

.progressBar {
    background-color: #A4F3EB;
    height: 8px;
    width: 140px;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 5px;
}

.input-range {
    width: 279px;
    height: 8px;
    border-radius: 5px;
    margin: 41px auto 0px;
    display: block;
    background: #ECF0FB;
    border: none;
    appearance: none;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url(./interactive-pricing-component-main/images/icon-slider.svg), #10D8C4;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    transition: 0.1s;
    cursor: grab;
    position: relative;
    z-index: 2;
  }

  .input-range::-webkit-slider-thumb:hover {
    background-color: #7AEADF;
  }

  .input-range::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    cursor: grabbing;
    background-color: #24AEA1;
  }

.div-price {
    margin: 40px 78px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-price-top {
    margin: 40px 78px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
}

.p-prize {
    font-weight: 800;
    font-size: 32px;
    line-height: 43px;
    color: #293356;
}

.p-month {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #848EAD;
}


.div-switch {
    margin: 36px 12px 0px 44px;
    display: flex;
    align-items: center;
}

.p-bill {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848EAD;
}

.p-bill-year {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848EAD;
    margin-left: 12px;
}

.div-discount {
    width: 41px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9.5px;
    background-color: #FEEDE8;
    font-weight: 800;
    font-size: 10px;
    line-height: 13px;
    color: #FF8D68;
    margin-left: 5.5px;
}

.div-switch-real {
    width: 43px;
    height: 22px;
    border-radius: 15px;
    background-color: #CFD8EF;
    margin-left: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.div-switch-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    margin-left: 4px;
}

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #ECF0FB;
    margin-top: 38px;
  }

  .div-checks {
    margin: 30px auto 0px;
    width: 147px;
  }

  .div-one-check {
    display: flex;
    gap: 16.05px;
    align-items: center;
    margin-left: 9px;
  }

  .p-unlimited {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #848EAD;
  }

  .div-two-check {
    display: flex;
    gap: 16.05px;
    align-items: center;
    margin-top: 11px;
  }

  .div-three-check {
    display: flex;
    gap: 16.05px;
    align-items: center;
    margin: 11px 0px 0px 25px;
  }

  button {
    width: 170px;
    height: 41px;
    border-radius: 20.5px;
    margin: 33px 77px 0px 80px;
    border: none;
    background-color: #293356;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #BECDFF;
    cursor: pointer;
}

span {
    display: none;
}


@media screen and (min-width: 1440px) {
    .div-tittle {
        margin: 67px auto 0px;
        width: 393px;
        padding-top: 37px;   
    }
    
    .h1-tittle {
        font-size: 28px;
        line-height: 38px;
    }

    .p-tittle {
        font-size: 15px;
        line-height: 20.5px;
        margin-top: 12px;
    }

    br {
        display: none;
    }

    .main-div {
        width: 540px;
        margin: auto;
        background-color: white;
        border-radius: 8px;
        padding: 40px 0px;
        box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    }

    .div-price {
        display: none;
    }

    .div-price-top {
        display: block;
        margin: 0px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .div-main-desk {
        display: flex;
        width: 446px;
        height: 55px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    .h1-100k {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 2px;
    }

    .p-prize {
        font-size: 40px;
        line-height: 54px;
    }

    .p-month {
        font-size: 16px;
        line-height: 21px;
    }

    .div-slider {
        width: 444px;
    }

    .div-switch {
        margin: 57px 100px 0px 124px;
        display: flex;
        align-items: center;
    }

    span {
        display: block;
        margin-left: 2px;
    }

    .div-discount {
        width: 80px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9.5px;
        background-color: #FEEDE8;
        font-weight: 800;
        font-size: 10px;
        line-height: 13px;
        color: #FF8D68;
        margin-left: 5.5px;
    }

    .div-bottom {
        display: flex;
        align-items: center;
    }

    .div-one-check {
        margin-left: 0px;
    }

    .div-three-check {
        margin-left: 0px;
    }

    .div-checks {
        margin: 30px auto 0px 48px;
        width: 147px;
    }

    button {
        margin: 33px 44px 0px 80px;
    }

    .div-circle-slider {
        cursor: pointer;
    }
}